.header-image {
  width: 90%;
  object-fit: cover;
  position: absolute; 
  top: 0;
  left: 0;
}

.popup {
background-color: rgb(208, 240, 192);
padding: 20px;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
width: 300px;
font-family: roboto;
position: relative;
z-index: 2;
}

.popup-overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
}

.popup-input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-family: roboto;
}

.popup button {
font-family: roboto; 
}

.custom-list-item {
  list-style-type: square;
}

.custom-list-item::after {
z-index: 0;
}

.custom-list-item {
  font-family: roboto;
  font-size: 1.2rem;
}

.custom-list-item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: #afbdca;
}

.custom-list-item button {
  position: absolute;
  left: 75%;
}

.custom-list-item:hover button {
  display: inline-block;
}

.custom-list-item button:hover {
  background-color: #dc3545; 
  color: white;
}

.last-ten {
  margin-top: 8%;
}

.last-ten-header {
  margin-bottom: 3%;
  text-align: center;
  font-family: roboto;
}

.button-row {
  position: relative;
  margin: 20px auto; 
  height: 50px;
  font-family: roboto;
}

.clear-button {
  position: absolute;
  margin-top: 3%;
  left: 45%;
}

.add-button {
  margin-top: 3%;
  position: absolute;
  right: 17%; 
}

.add-button-centered {
  margin-left: 48%;
}

.empty-text {
  font-family: roboto;
  font-size: 30px;
  text-align: center;
}

.autocomplete-list {
  margin-top: 5px;
  padding: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  position: absolute;
  width: 87%;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  font-family: roboto;
}

.autocomplete-item:hover {
  background-color: rgb(208, 240, 192);
}
